header {
  margin: 5px 0px 0px 0px;
  height: 30px;
  background: url(../img/pt/pt_title.png)no-repeat;
  background-size: 72% 72%;
  background-position: 17% 84%;
}
.header-title{
  color: aqua;
  position: absolute;
  line-height: 32px;
  font-size: 14px;
  left: 11%;
}
h1 {
  font-size: 16px;
  color: white;
}
main {
  height: calc(100% - 30px);
}
