*,
ul,
li,
p,
div,
span{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map{
  position: absolute;
  height: 88%;
  margin: 0;
  padding: 0;
  width: 50%;
}